.bg-green {
  background-color: #038175;
}

.bg-dark-green {
  background-color: #026C62;
}

.bg-light-blue {
  background-color: #A0D0CB;
}

.bg-light-wheat {
  background-color: #BBD055;
}

.bg-blue-dark {
  background-color: #007D8E;
}