strong {
  font-size: clamp(13px, 1.25vw, 15px);
}

p, li {
  font-size: clamp(13px, 1.25vw, 15px);
  font-weight: 500;
}

.bold-font {
  font-weight: bold;
}

.light-font {
  font-weight: lighter;
}

p, a{
  color: #000;
}

..containercareer {
  display: flex;
  justify-content: center;
}

.contentcareer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #dcdada !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-containercareer {
  position: relative;
}

.text-overlaycareer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .contentcareer {
      flex-direction: row;
  }

  .form-containercareer {
      flex: 1;
      margin-right: 20px;
  }

  .image-containercareer {
      flex: 1;
  }

  .text-overlaycareer {
      width: 80%;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea,
.form-group input[type="file"],
#submitButton {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  width: 100% !important;
}

.form-group textarea {
  height: 100px;
}



#submitButton {
color: #fff;
margin-top: 30px;
font-weight: bold;
}

#submitButton:hover {
  background-color: #038175;
  }

  .form-containercareer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    width: 100%;
}


.image-containercareer {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden; /* Ensure any overflowing content is hidden */
}

.image-containercareer img {
  width: 100%;
  height: auto;
  border-radius: 20px;  
}

.text-overlaycareer { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  padding: 20px; /* Adjust padding as needed */
  
  border-radius: 20px; /* Rounded corners */
  width: calc(100% - 40px); /* Width of the text overlay, considering padding */
  max-width: calc(100% - 40px); /* Maximum width of the text overlay, considering padding */
  white-space: normal; /* Allow text to wrap */
}

.text-overlaycareer h1,
.text-overlaycareer p {
  margin-bottom: 10px; /* Add margin between elements */
}

ul.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul.list-inline li {
  margin-right: 2px; /* Minimal space between icons initially */
}

.social-link {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.social-handle {
  margin-left: 0;
  opacity: 0;
  background-color: #018d7f; /* Change to desired background color */
  color: #fff; /* Change to desired text color */
  border-radius: 12px; /* Rounded corners */
  padding: 2px 8px; /* Padding inside the rounded rectangle */
  white-space: nowrap;
  transition: margin-left 0.3s ease, opacity 0.3s ease;
  max-width: 0;
  overflow: hidden;
}

.social-link:hover .social-handle {
  margin-left: 10px;
  opacity: 1;
  max-width: 150px; /* Adjust according to the maximum expected width of the handle */
}



@media only screen and (max-width: 768px) {
  .text-overlaycareer {
    padding: 15px;
    font-size: 14px;
    MARGIN-TOP: 15% /* Adjust padding for tablet screens */
  }
}

@media only screen and (max-width: 576px) {
  .text-overlaycareer {
    padding: 15px; /* Adjust padding for mobile screens */
    font-size: 14px;
    MARGIN-TOP: 10%; /* Adjust font size for mobile screens */
  }
}



#about-content, a:hover  {
  color: #fff !important;
  
}
#about-content, i:hover{
  color: #fff !important;
  
}

footer strong {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  display: inline-block;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.navbar {
  transition: background-color 0.3s ease;
}

.navbar.white-bg {
  background-color: #fff;
}


#navigation-bar li, [id^=navcol] a {
  font-weight: 200;
  font-size: clamp(12px, 1.25vw, 14px) !important;
  padding: 5px 0 !important;
}



#navigation-bar li a:hover, [id^=navcol] a:hover {
  color: White   !important;
}




/* #navbar-item-2 {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
} */


/* Add your existing CSS here */

.transition-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #018d7f; /* Change to your preferred transition background color */
  transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 3000;
}

.transition-container.slide-in {
  transform: translateX(0);
}


/* Add this CSS for mobile menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #018d7f;
  color: white;
  z-index: 2000; /* Ensure it overlays other content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.back-button {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mobile-nav-links li {
  margin: 1.5rem 0;
}

.mobile-nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}




#students .feature-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(20% - 40px);
  max-width: 260px;
  height: auto; /* Change height to auto */
  min-height: 400px; /* Set a minimum height */
  border-radius: 40px;
  padding: 25px 20px;
  margin-bottom: 20px; /* Added margin-bottom for spacing between feature boxes */
}

#students p, #schools p, .careers p, #team p, .contact p {
  font-weight: 600;
  text-align: center;
  margin-top: 20px; /* Ensure consistent gap between heading and paragraph */
}

#students h1, #schools h1 {
  font-weight: 800;
  font-size: clamp(13px, 2vw, 15px);
  margin: 30px auto 0; /* Adjusted margin-bottom to 0 for h1 */
  text-align: center;
  width: 100%;
  max-width: 200px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.banners {
        overflow: hidden;
        background-image: url('assets/img/homebg.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100vh;
    }
    
    .navbar {
        width: 100%;
        z-index: 2000;
        height: 110px;
    }
    
    #home {
        margin-top: 120px;
    }

    @media only screen and (max-width: 768px) {
      #home .btn {
          margin-top: 20px; /* Add some margin to the top for better spacing on small screens */
      }
  }
  
    
    #main-heading h1 {
        color: white;
    }
    
    .text-18 {
        color: white;
    }
    .text-18 {
      font-size: 18px;
    }
  
    /* Responsive CSS for smaller screens */
    @media only screen and (max-width: 600px) {
      .text-18 {
        font-size: 12px; /* Adjust as needed */
        line-height: 1.2; /* Adjust line height as needed */
      }
    }
    
   
    
    /* Ensure no horizontal scroll bar */
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* Responsive font size for heading */
    #home h1 {
        font-weight: 800;
        font-size: clamp(24px, 4vw, 35px);
        line-height: 1.35;
    }
    
/* Initial state for the dark navbar (transparent) */
/* #dark-navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
} */

/* Scrolled state for the dark navbar (white background) */
#white-navbar {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  z-index: 2000; /* Ensure it's above other content */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for background and shadow */
}

/* When scrolled, show the white navbar */
.scrolled #dark-navbar {
  display: none;
}

.scrolled #white-navbar {
   display: flex; /* Use flex to center the navbar content */
    justify-content: center;
    align-items: center;
}


    @media only screen and (max-width: 767px) {
        #home {
            width: 96%;
            padding: 50px 15px;
        }
        #home {
            margin-top: 60px !important;
        }
    }
    
    @media only screen and (max-width: 470px) {
        #home {
            padding-top: 70px;
        }
    }




.ityped::after {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  background-color: #038175;
  border-radius: 29px;
  z-index: -1;
  position: absolute;
  bottom: -10px;
  left: 0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px; /* Adjust the width of the line */
  background-color: #018d7f;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px; /* Adjust the margin to center the line */
}

/* Circle at the start of the timeline */
.timeline::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #018d7f;
  border-radius: 50%;
  top: calc(0% - 10px); /* Adjust this value to position the circle */
  left: 50%;
  transform: translateX(-50%);
}

/* Circle at the end of the timeline */
.timeline::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #018d7f;
  border-radius: 50%;
  top: calc(100% - 10px); /* Adjust this value to position the circle */
  left: 50%;
  transform: translateX(-50%);
}

.custom-section {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}



.sub-heading {
  font-weight: 800;
  font-size: clamp(20px, 3vw, 32px);
  margin-bottom: 10px;
}
.sub-heading1 {
  font-weight: 300;
  font-size: clamp(20px, 3vw, 32px);
  margin-bottom: 10px;
}

.sub-heading2 {
  font-weight: 500;
  font-size: clamp(20px, 3vw, 32px);
  margin-bottom: 10px;
}


.tag-line {
  font-weight: 700;
  font-size: clamp(16px, 2vw, 20px);
}

.member-name {
  font-size: 12px;
  font-weight: 700;
}

.member-title {
  font-size: 10px;
  font-weight: 500;
}

#team-wrapper > div {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#team-wrapper > div:hover {
  transform: scale(1.05);
}



.about-content {
  text-align: right; /* Align the content within the container to the right */
}

.about-content h5 {
  text-align: left; /* Align the heading to the left */
}

.footer {
  background: linear-gradient(to right, #32746E, #025049, #00322E);
  color: #fff;
  padding: 50px 0 0 0; /* Decreased bottom padding to 30px */
  text-align: center;
}


.footer h5 {
  color: #fff;  
}

.footer p {
  color: #fff;
  text-align: Left;
  margin-top: 10px;
}

.footer-bottom {
  
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-logo {
  text-align: center;
  max-width: 200px;
}

.footer-logo img {
  max-width: 200px;
  height: auto;
  margin-bottom: 30px; /* Add margin to create space between logo and text */
}

.images {
  /* max-width: 300px; */
}

.accordion-button {
  font-weight: 800;
  font-size: clamp(12px, 2vw, 14px) !important;
}

.accordion-body p, .accordion-body li {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 14px);
}



.small-heading {
  color: #000 !important;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: clamp(16px, 2vw, 22px);
}

.para-big {
  color: #000;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: clamp(14px, 2vw, 22px);
}

#career-para1 {
  max-height: clamp(42px, 1.25vw, 15px);
  overflow: hidden;
}

#career-para2, #see-less {
  display: none;
}

input, textarea {
  padding: 16px;
  padding-bottom: 17px;
  padding-top: 17px;
  border: 1px solid rgba(0, 0, 0, 0.514);
  border-radius: 7px;
  font-weight: 600;
  font-size: clamp(10px, 2rem, 18px);
  color: #979797;
  margin: auto;
  margin-bottom: 20px;
}

input:focus, textarea:focus {
  box-shadow: none !important;
  border-color: #038175 !important;
}

footer p {
  width: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #018d7f;
  border-radius: 50%;
  border: none;
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 25px 20px -20px !important;
  z-index: 111;
  height: 40px;
  width: 40px;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

textarea {
  aspect-ratio: 1/0.3;
}

.back-to-top:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1400px) {
  .images {
    max-width: 250px;
  }
}

@media (max-width: 767.98px) { /* Small devices (landscape phones, 576px and up) */
  .feature-box img {
      max-width: 100%;
      height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium devices (tablets, 768px and up) */
  .feature-box img {
      max-width: 75%;
      height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large devices (desktops, 992px and up) */
  .feature-box img {
      max-width: 50%;
      height: auto;
  }
}

@media (min-width: 1200px) { /* Extra large devices (large desktops, 1200px and up) */
  .feature-box img {
      max-width: 40%;
      height: 70px;
  }
}



@media only screen and (min-width: 1200px) {
  #students .feature-box {
    min-height: 460px; /* Adjust the minimum height for larger screens */
    min-width: 258px;
  }
}

@media only screen and (max-width: 991px) {

  #students .feature-box, #schools .feature-box {
    padding: 15px 12px !important;
    width: 200px !important;
  }

  .images {
    max-width: 190px;
  }

  #career-para1 {
    max-height: clamp(41px, 1.25vw, 15px);
  }
}
@media only screen and (max-width: 800px) {
  #students .feature-box, #schools .feature-box {
    width: 180px !important;
  }

  #team-wrapper div {
    max-width: calc(100%/2 - 5px);
  }

  .nav-link {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  .small-heading,
.para-big {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  #submit {
    width: 90% !important;
  }
}
@media only screen and (max-width: 650px) {
  #students .feature-box, #schools .feature-box {
    padding: 15px 12px !important;
    width: 90% !important;
    max-height: 350px !important;
    height: auto !important;
    margin: 20px 0px;
  }

 

  #faqs > div {
    width: 100% !important;
  }
}
@media only screen and (max-width: 470px) {
 

  .member-name {
    font-size: 10px;
  }

  .member-title {
    font-size: 9px;
  }

  #join-img {
    max-width: 250px !important;
  }

  footer p {
    width: 100%;
  }

  #career-para1 {
    max-height: clamp(62px, 1.25vw, 15px);
  }
}