strong {
  font-size: clamp(13px, 1.25vw, 15px);
}

p, li {
  font-size: clamp(13px, 1.25vw, 15px);
  font-weight: 500;
}

#navigation-bar li {
  font-weight: 500;
  font-size: clamp(12px, 1.25vw, 14px);
  padding: 5px 0 !important;
}

#students p, #schools p, #careers p, #team p, #contact p {
  font-weight: 600;
}

#students h1, #schools h1 {
  font-weight: 800;
  font-size: clamp(13px, 2vw, 15px);
  margin: 30px auto 20px;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

#home {
  width: 90%;
  max-width: 1200px;
  padding: 80px 20px;
}

#main-heading > div {
  max-width: 330px;
}

.sub-heading {
  font-weight: 800;
  font-size: clamp(20px, 3vw, 32px);
  margin-bottom: 10px;
}

.tag-line {
  font-weight: 700;
  font-size: clamp(16px, 2vw, 20px);
}

.member-name {
  font-size: 12px;
  font-weight: 700;
}

.member-title {
  font-size: 10px;
  font-weight: 500;
}

#team-wrapper > div {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#team-wrapper > div:hover {
  transform: scale(1.05);
}

#home h1 {
  font-weight: 800;
  font-size: clamp(24px, 4vw, 35px);
  line-height: 1.35;
}

.images {
  max-width: 300px;
}

.accordion-button {
  font-weight: 800;
  font-size: clamp(12px, 2vw, 14px) !important;
}

.accordion-body p, .accordion-body li {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 14px);
}

@media only screen and (max-width: 1400px) {
  .images {
    max-width: 250px;
  }
}
@media only screen and (max-width: 1024px) {
  #home h1 {
    font-weight: 800;
    font-size: clamp(25px, 4vw, 35px);
    line-height: 1.35;
  }
}
@media only screen and (max-width: 991px) {
  #home {
    width: 96%;
    padding: 50px 15px;
  }

  #students > div, #schools > div {
    padding: 15px 12px !important;
    width: 200px !important;
  }

  .images {
    max-width: 190px;
  }
}
@media only screen and (max-width: 800px) {
  #students > div, #schools > div {
    width: 180px !important;
  }

  #team-wrapper div {
    max-width: calc(100%/2 - 5px);
  }

  #main-heading > div {
    max-width: 250px;
  }

  .nav-link {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
@media only screen and (max-width: 650px) {
  #students > div, #schools > div {
    padding: 15px 12px !important;
    width: 90% !important;
    max-height: 350px !important;
    height: auto !important;
    margin: 20px 0px;
  }

  #home {
    margin-top: 60px !important;
  }

  #faqs > div {
    width: 100% !important;
  }
}
@media only screen and (max-width: 470px) {
  #home {
    padding-top: 70px;
  }

  .member-name {
    font-size: 10px;
  }

  .member-title {
    font-size: 9px;
  }

  #join-img {
    max-width: 250px !important;
  }
}